@model GreenFood.Models.CHITIETTHUCPHAM

@{
    ViewBag.Title = "DeleteThucPham";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>DeleteThucPham</h2>
<h3>Are you sure you want to delete this?</h3>

<div class="container">
    <h4>CHITIETTHUCPHAM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã thực phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaThucPham)
        </dd>

        <dt>
            Tên thực phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenThucPham)
        </dd>

        <dt>
            Loại thực phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAITHUCPHAM.TenLoaiThucPham)
        </dd>

        <dt>
            Giá:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            Trọng lượng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrongLuong)
        </dd>

        <dt>
            Ảnh bìa:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnhBia)
        </dd>

        <dt>
            Hạn sử dụng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HanSuDung)
        </dd>

        <dt>
            Số lượng bán:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongBan)
        </dd>

        <dt>
            Số lượng đã bán:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongDaBan)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-outline-success" /> |
            @Html.ActionLink("Back to List", "QuanLyThucPham" , new { htmlAttributes = new { @class = "btn btn-outline-success" } })
        </div>
    }
</div>
