@model GreenFood.Models.LOAITHUCPHAM

@{
    ViewBag.Title = "ChinhSuaLoaiThucPham";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>CHỈNH SỬA THÔNG TIN LOẠI THỰC PHẨM</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MaLoaiThucPham)

            <div class="form-group">
                <label class="control-label col-md-2">Tên loại thực phẩm:</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="sTenLoaiThucPham" value="@ViewBag.TenLoaiTP"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" style="margin-top:10px;">
                    <input type="submit" value="Save" class="btn btn-outline-success" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Trở về", "QuanLyKhuyenMai", "QuanLyChung")
    </div>
</div>
